@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.footer {
    position: fixed;
    left: 0;
    bottom: 40px;
    width: 100%;
    color: rgb(0, 0, 0);
    gap: 2rem;
    padding: 0 1rem;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}


.nav {
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.kruger{

    display:flex;
    flex-direction:row;
    
}
.k{
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

.linea {
    border-top: 1px solid black;
    height: 2px;
    margin: 20px 100px 0 100px;
  }

.logo{
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 5px;
    align-items: flex-start;
}

.link{
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
    color: black
}

.link:active{
    border-bottom: 2px solid black;
}
.p1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
}
.p2{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 20px 100px 0 100px;
}

.welcome {
    justify-content: center;
    align-items: center;
    margin: 20px 100px 0 100px;
    text-align: center;
}

.edadC {
    align-self: center;
    width: 570px;
    height: 90px;
    margin: 10px 10px 50px;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(149, 149, 149);
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 20px;
}

.contCua{
    align-self: center;
    width: 570px;
    height: 90px;
    margin: 10px 10px 50px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.cuadritos{
    width: 100px;
    height: 100px;
    margin: 10px 40px 30px;
    display:flex;
    flex-direction:column;
    background-color: rgb(149, 149, 149);

}

.boton-calcular{
    border-radius: 30px;
    width: 100px;
}



.card {
    align-self: center;
    width: 970px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    border-radius: 30px;

}

.contenedor {
    align-self: center;
    width: 70%;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    justify-content: center;
    align-items: center;
}
